div {
  margin: auto;
  width: 100%;
  position: relative;
  object-fit: contain;
}
.col-md {
  border: 24px solid white;
}
.noborder {
  border: 0px;
  float: left
}

h1, h2, h3, p {
  text-align: center;
}

.bimg {
  width: 100%;
  height: 100%;
}
img {
  text-align: center;
}
body {
  margin: 0;
}

cat
{change style after this btu before t.text image
}

.textimgpos {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}
form {
 padding: 30px;
  }

.white {
  color: white;
}
