div {
  margin: auto;
  width: 100%;
  position: relative;
  object-fit: contain;
}
.col-md {
  border: 24px solid white;
}
.noborder {
  border: 0px;
  float: left
}

h1, h2, h3, p {
  text-align: center;
}

.bimg {
  width: 100%;
  height: 100%;
}
img {
  text-align: center;
}
body {
  margin: 0;
}

{change style after this}

.bg {
  background-size: cover;
  height: 500px;
}

.textimgpos {
  position: relative
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
}
.pwhite {
  color: red;
}

.frontpagebottom {
  text-align: center;
}
