#design {
  display: none;
}

#development{
  display: none;
}

#pmanagement{
  display: none;
}

#hidedesign{
  display: grid;
  place-items: center;
}

#hidedevelopment{
  display: grid;
  place-items: center;
}

#hidepmanagement{
  display: grid;
  place-items: center;
}

.clickabledesign {
  cursor: pointer;
      }

.clickabledevelopment {
  cursor: pointer;
            }

.clickablepmanagement {
  cursor: pointer;
}

.himg {
 background-image: url("../assets/backgrounds/h_img.jpg");

 height: 650px;

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.simg {
 background-image: url("../assets/backgrounds/s_image.jpg");

 height: 320px;

 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

.cimg {
 background-image: url("../assets/backgrounds/c_image.jpg");

 height: 427px;

 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

div {
  margin: auto;
  width: 100%;
  position: relative;
  object-fit: contain;
}

.col-md {
  border: 24px solid white;
  display: grid;
  place-items: center;
}

.noborder {
  border: 0px;
  float: left;
}

p {
  text-align: center;
  font-size: medium;
}

h1, h2 {
  font-weight: bold;
  text-align: center;
}

.bimg {
  width: 100%;
  height: 100%;
}

img {
  text-align: center;
}

body {
  margin: 0;
}

.logo3 {
  float: left;
  width: 7%;
}

.logo4 {

}

.logo5 {
  width: 120%;
}

input[type=text]:focus {
  background-color: white;
}
textarea:focus {
  background-color: white;
}

textarea {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  padding: 1px;
  margin: 1px 0;
  outline: solid white;
  background: transparent;
  width: 100%;
}

input {
  padding: 1px;
  margin: 1px 0;
  outline: solid white;
  background: transparent;
  width: 100%;
}
::placeholder {
  color: white;
}
input:focus,
input:active {
  border-color: solid;
  border-bottom: 2px solid white;
}

form {
 padding: 30px;
  }

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
.logo3 {
  width: 12%;
}
}

@media screen and (max-width: 1000px) {
 .himg {
    height: 650px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .simg, .cimg {
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo3 {
    width: 20%;
  }
  }

@media screen and (max-width: 800px) {
  p {
    font-size: large;
  }
  .simg {
    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo3 {
    width: 15%;
  }
}
